ion-list {
    margin-right: 10%;
    margin-left: 10%;
}

h3 {
    margin-left: 13%;
}

ion-title {
    font-size:30px; 
    font-weight: bold;
}

.table-header {
    font-size:23px; 
    font-weight: bold;
}

