<ion-header>
    <ion-title>Stations</ion-title>
</ion-header>
  
<ion-content>
  <br>
  <ion-input (change)="filterInput(input)" [(ngModel)]="input" placeholder="Search station">
      <a style="margin-right:3px;" (click)="refresh()">
        <i class="material-icons">refresh</i>
      </a>
  </ion-input>
  
  <ion-list>
    <ion-item>
        <ion-label class="table-header">
          Station
          <a (click)="orderStationsAlphabetically()">
            <i class="material-icons">arrow_upward</i>
          </a>
          <a (click)="orderStationsAlphabeticallyReverse()">
            <i class="material-icons">arrow_downward</i>
          </a>
        </ion-label>
        <ion-label class="table-header">State</ion-label>
        <ion-label class="table-header">Description</ion-label>
        <ion-label class="table-header">
            Bikes
            <a (click)="orderStationsNumerically()">
              <i class="material-icons">arrow_upward</i>
            </a>
            <a (click)="orderStationsNumericallyReverse()">
              <i class="material-icons">arrow_downward</i>
            </a>
          </ion-label>
        <ion-label class="table-header">View</ion-label>
    </ion-item>
  </ion-list >
  <ion-list *ngFor="let station of filteredStations">
    <ion-item>
      <ion-label>{{station.name}}</ion-label>
      <ion-label>{{station.state}}</ion-label>
      <ion-label>{{station.description}}</ion-label>
      <ion-label>{{station.bikes.length}}</ion-label>
      <ion-label>
        <a (click)="viewStation(station)">
          <i class="material-icons">pageview</i>
        </a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
  